@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('img/digiclock-bg2.png');
}

#main {
  background: #ccc;
  width: 430px;
  height: 175px;
  margin: 15% auto;
  position: relative;
  padding: 30px;
  box-shadow: 0 0 5px;
}

.badge {
  padding: 5px 10px;
  background: #d62d1a;
  color: #fff;
  font-family: Sans-Serif;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: -15px;
  left: 38%;
  box-shadow: 0 0 5px black;
}

.clock {
  background: #ebebeb;
  height: 100%;
  font-family: Orbitron, Segoe UI;
  font-size: 55px;
  padding-top: 35px;
  padding-left: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px;
}
